<div class="article col col-12 animate">
    <div class="article__inner">
  
      
      <div class="image-wrap">
        <a class="article__image" href="/that-which-does-not-kill-us-makes-us-stronger">
          <img class="lazy loaded" alt="That which does not kill us makes us stronger" data-ll-status="loaded" src="/images/02.jpg">
        </a>
      </div>
      
  
      <div class="article__content">
  
        <h2 class="article__title">
          <a href="/that-which-does-not-kill-us-makes-us-stronger">That which does not kill us makes us stronger</a>
        </h2>
  
        <p class="article__excerpt">Sin tantum est boni praeter summam voluptatem, et eam sempiternam. Cur post Tarentum ad Archytam. Qua ex cognitione facilior facta est investigatio rerum occultissimarum, empull.</p>
  
        <div class="article__bottom">
          <div class="article__meta">
            <a href="/about/" class="article__author-image">
              <img class="lazy loaded" alt="Steve Kolinsky" data-ll-status="loaded" src="/images/01-1.jpg">
            </a>
            <div class="article__info">
              <a href="/about/" class="article__author-link">Steve Kolinsky</a>
              <time class="article__date" datetime="2018-11-14T12:01:35+00:00">14 Nov 2018</time>
            </div>
          </div>
  
          
          <div class="article-tags__box">
            
              <a href="/tag/workflow" class="article__tag">workflow</a>
            
              <a href="/tag/hobby" class="article__tag">hobby</a>
            
              <a href="/tag/study" class="article__tag">study</a>
            
          </div>
          
        </div>
  
      </div>
    </div>
  </div>